/*=== aplicando css global===*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
ul{
    list-style-type: none;
}
html{
    scroll-behavior: smooth;
}
/*=== aplicando css al encabezado===*/
#logo{
    width: 50%;
    margin: auto;
    padding-top: 10px;
}
#menu{
    text-align: center;
}



/*===aplicando comportamiento responsive o adaptativo===*/
/*Medium devices (tablets, 768px and up)*/
/*===trabajando con css grid===*/
@media (min-width: 768px) {
    /*aplicando css al encabezado*/
    #encabezado{
        display: grid;
        grid-template-columns: 1fr 2fr; /*Medidas: px em rem % fr*/
        align-items: center;
        position: fixed;
        width: 100%;
        z-index: 1000;
        background-color: white;
    }
    #menu{
        display: grid;
        grid-template-columns: 2fr 1fr;   
    }
    #opcionesIzquierdo{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    #opcionesDerecho{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    /*aplicando css a la seccion productos*/
    #productos{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    /*aplicando css a la galeria*/
    section#galeria{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
    /*===aplicando css al pie de pagina===*/
    #piePagina{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 0.5fr;
        justify-items: center;
        align-items: center;
        background-color: blue;
        color: white;
    }
    #redessociales{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

    }
    ion-icon{
        color: white;
        font-size: 3rem;
    }

}

/*X-Large devices (large desktops, 1200px and up)*/    

@media (min-width: 1200px) {
    section#galeria{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 10px;
    }
}
